/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --ifm-color-primary: #0960a5;
  --ifm-color-primary-dark: #064475;
  --ifm-color-primary-darker: #042844;
  --ifm-color-primary-darkest: #010c14;
  --ifm-color-primary-light: #0c7cd5;
  --ifm-color-primary-lighter: #2196f3;
  --ifm-color-primary-lightest: #51adf6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0,0,0,0.1);
  --ifm-font-family-base: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --ifm-font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2196f3;
  --ifm-color-primary-dark: #0c7cd5;
  --ifm-color-primary-darker: #0960a5;
  --ifm-color-primary-darkest: #064475;
  --ifm-color-primary-light: #51adf6;
  --ifm-color-primary-lighter: #82c4f8;
  --ifm-color-primary-lightest: #b2dbfb;
  --docusaurus-highlighted-code-line-bg: rgba(0,0,0,0.3);
}
